<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>FomoDoro Legacy</string>
    <key>CFBundleDisplayName</key>
    <string>FomoDoro Legacy</string>
    <key>CFBundleIdentifier</key>
    <string>dev.anasubaid.fomodoro.legacy</string>
    <key>CFBundleVersion</key>
    <string>1.6.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.6.0</string>
    <key>CFBundleExecutable</key>
    <string>FomoDoroLegacy</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>CFBundleIconFile</key>
    <string>FomoDoro.icns</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>SUFeedURL</key>
    <string>https://github.com/anasubaid19/fomo-doro/releases/latest/download/appcast-legacy.xml</string>
    <key>SUPublicEDKey</key>
    <string>dE3i50/O6JuBPHBvxcQCzBuUTKbrml1U463zGuXKIZM=</string>
    <key>SUEnableAutomaticChecks</key>
    <true/>
    <key>SUAutomaticallyUpdate</key>
    <true/>
</dict>
</plist>
